<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>FOOTER</title>
</head>

<body>
    <footer class="p-5 text-muted text-center text-small bg-light">
        <p class="mb-1">© 2021 - All Rights reserved - Stoccaggio</p>
        <ul class="list-inline">
            <li class="list-inline-item mx-2"><a style="text-decoration: none;" href="#">Documentazione</a></li>
            <li class="list-inline-item mx-2"><a style="text-decoration: none;" href="#">Come funziona</a></li>
            <li class="list-inline-item mx-2"><a style="text-decoration: none;" href="#">Chi siamo</a></li>
        </ul>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>