<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>FOOTER</title>
</head>

<body>
    <footer class="p-5 text-muted text-center text-small bg-light">
        <p class="mb-1">© 2021 - All Rights reserved - Stoccaggio</p>
        <ul class="list-inline">
            <li class="list-inline-item mx-2"><a style="text-decoration: none;" href="#">Documentazione</a></li>
            <li class="list-inline-item mx-2"><a style="text-decoration: none;" href="#">Come funziona</a></li>
            <li class="list-inline-item mx-2"><a style="text-decoration: none;" href="#">Chi siamo</a></li>
        </ul>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>