<!doctype html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <title>Gestore Stoccaggio</title>
</head>
<body>
<div>
    <div>
        <div class="bg-gray-800 pb-32">
            <nav class="bg-gray-800">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="border-b border-gray-700">
                        <div class="flex items-center justify-between h-16 px-4 sm:px-0">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <div class="font-bold text-white text-xl">
                                        Gestore Stoccaggio
                                    </div>
                                </div>
                                <div class="hidden md:block">
                                    <div class="ml-10 flex items-baseline space-x-4">
                                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                        <a href="/"
                                           class="text-gray-300 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Cruscotto</a>

                                        <a href="/magazzini"
                                           class="text-gray-300 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Magazzini</a>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden md:block">
                                <div class="ml-4 flex items-center md:ml-6">
                                    <div class="ml-3 relative">
                                        <div class="font-semibold text-white text-sm">
                                        </div>
                                        <a href="/auth/logout"
                                           class="text-gray-400">
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <main class="-mt-16">
        <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
            <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
