<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>HEADER</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light p-4">
        <div class="container">
            <a class="navbar-brand">LOGO</a>

            <div class="d-flex flex-row-reverse align-items-center naav">
                <!--flex wrap-->
                <button class="btn btn-outline-danger mx-3">Sign In</button>
                <a class="ms-5 me-3 text-decoration-none text-success" href="#">Log In</a>
                <a class="mx-3 text-decoration-none" href="#">Come funziona</a>
                <a class="mx-3 text-decoration-none" href="#">Chi siamo</a>
            </div>
        </div>
    </nav>