<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>HEADER</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light p-4">
        <div class="container-fluid">
            <a class="navbar-brand">LOGO</a>

            <div class="d-flex align-items-center">
                <a class="mx-3" style="text-decoration: none;" href="#">Log In</a>
                <button class="btn btn-outline-danger mx-3">Sign In</button>
            </div>
        </div>
    </nav>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>