<%- include('./partials/header.ejs') %>
<div class="bg-light rounded-1 p-4 my-4">
    <h1>Gestore Stoccaggio</h1>
    <p>Controlla e ottimizza magazzino e colli</p>
</div>
<%- include('./partials/footer.ejs') %>

