<%- include('./partials/header'); -%>
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="card p-3 border-success" style="width: 25rem;">
            <div class="card-header bg-light p-4 text-center" style="font-size: 1.2rem; border: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
            <div class="card-body">
                <label class="form-label">Email</label>
                <div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input class="login" type="email" placeholder="nickname@gmail.com" class="form-control">
                </div>
                <label class="form-label">Password</label>
                <div class="input-group flex-nowrap mb-4">
                    <span class="input-group-text" id="addon-wrapping">?#</span>
                    <input class="login" type="password" placeholder="1234asfrg#!" class="form-control">
                </div>
                <!-- Buttons -->
                <div>
                    <div class="btn btn-success">Accedi</div>
                </div>
            </div>
            <p class="text-center" style="color: rgb(167, 163, 163); font-size: 0.9rem;">
                Non hai ancora effettuato l'accesso? <a href="#" class="text-danger text-decoration-none">Registrati</a>
            </p>
        </div>
        <%- include('./partials/footer'); -%>