<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sign In</title>
    <style>
        input:focus {
            box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, .5) !important;
            border: 1px solid #dc3545 !important;
        }
    </style>
</head>

<body>
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="card p-3 border-danger" style="width: 25rem;">
            <div class="card-header bg-light p-4 text-center" style="font-size: 1.2rem; border: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
            <div class="card-body">
                <label class="form-label">Email</label>
                <div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="email" placeholder="nickname@gmail.com" class="form-control">
                </div>
                <label class="form-label">Password</label>
                <div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">?#</span>
                    <input type="password" placeholder="1234asfrg#!" class="form-control">
                </div>
                <label class="form-label">Ripeti la password</label>
                <div class="input-group flex-nowrap mb-4">
                    <span class="input-group-text" id="addon-wrapping">?#</span>
                    <input type="password" placeholder="1234asfrg#!" class="form-control">
                </div>
                <!-- Buttons -->
                <div>
                    <div class="btn btn-danger">Registrati</div>
                </div>
            </div>
            <p class="text-center" style="color: rgb(167, 163, 163); font-size: 0.9rem;">
                Sei già registrato? <a href="#" class="text-success">Accedi</a>
            </p>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>